@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* shared styles */
body {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.btn-primary {
    width: 135px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 1.1rem;
    color: #FFF;
    font-weight: 700;
}

.containar {
    margin: 50px auto;
    width: 81%;
    max-width: 1170px;
    min-height: 500px;
}



/* header style start here */
.navigation-containar {
    width: 81%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding-top: 20px;
}

.site-name-icon {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.2rem;
    font-weight: 800;
}

#icon {
    display: none;
}

.navigation-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-links a {
    color: #424247;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.navigation-links .Home,
.Glider {
    color: #FF5400;
}

/* bannar-section */
.bannar-containar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./Images/bannar.png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 100% 100%;
    border-radius: 16px;
}

.bannar-text {
    width: 65%;
    max-width: 740px;
}

.bannar-text h1 {
    margin-bottom: 15px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.bannar-text p {
    margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.bannar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    text-align: left;
    gap: 20px;
}

.white {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mulish', 'Font Awesome 5 Free';
    font-weight: 700;
    
    background: #FFF;
}

/* header style end here */


/* main section design start here  */

/* popular secthon design start here  */
.popular-containar {
    margin-top: 150px;
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.popular-text {
    width: 40%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popular-text h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-text p,
.popular-text li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.popular-text ul {
    padding-left: 20px;
}

.popular-image {
    width: 40%;
}

.popular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* popular section design end here  */

/* chose-destination style start here  */
.destination-containar {
    height: 1100px;
}

.destination-header {
    text-align: center;
    margin: 50px auto;
    width: 52%;
}

.destination-header h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.destination-header p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.destination-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.destination-images img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.grid-item1 {
    grid-column: 1/span 4;
    position: relative;
}

.grid-item2 {
    grid-column: 5/span 4;
    position: relative;
}

.grid-item3 {
    grid-column: 1/span 2;
    position: relative;
}

.grid-item4 {
    grid-column: 3/span 4;
    position: relative;
}

.grid-item5 {
    grid-column: 7/span 2;
    position: relative;
}

.grid-item6 {
    grid-column: 1/span 3;
    position: relative;
}

.grid-item7 {
    grid-column: 4/span 5;
    position: relative;
}

.center-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;

}

/* chose-destination style end here  */


/* why-chose section style start here  */

.why-chose-containar {
    margin-top: 200px;
}

.why-chose-header {
    text-align: center;
    margin-bottom: 40px;
}

.why-chose-header p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.why-chose-header h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.why-chose-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    flex-wrap: wrap;
}

.chose {
    width: 45%;
    height: 230px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.chose img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.box-heading {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.box-1,
.box-3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* why-chose section style end here  */